@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 99%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 353 79% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 240 5% 96%;
    --muted-foreground: 220 9% 46%;
    --accent: 240 5% 96%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 353 79% 54%;
    --radius: 0.5rem;

    --chart-1: hsl(var(--primary));
    --chart-2: hsl(215, 80%, 60%);
    --chart-3: hsl(45, 90%, 55%);
    --chart-4: hsl(160, 70%, 45%);
    --chart-5: hsl(280, 70%, 60%);

    --espe-red: 353 79% 54%;
    --espe-green: 153 94% 22%;
    --espe-yellow: 55 100% 53%;
    --espe-white: 180 100% 99.8%;
  }

  .dark {
    --background: 222 83% 4%;
    --foreground: 210 20% 98%;
    --card: 222 83% 8%;
    --card-foreground: 210 20% 98%;
    --popover: 222 83% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 353 79% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 217 33% 17%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 217 33% 12%;
    --input: 217 33% 12%;
    --ring: 353 79% 54%;
    --radius: 0.5rem;
    
    --chart-1: hsl(var(--primary));
    --chart-2: hsl(215, 80%, 65%);
    --chart-3: hsl(45, 90%, 60%);
    --chart-4: hsl(160, 70%, 50%);
    --chart-5: hsl(280, 70%, 65%);
    
    --espe-red: 353 79% 54%;
    --espe-green: 153 94% 22%;
    --espe-yellow: 55 100% 53%;
    --espe-white: 180 100% 99.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
